:host {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;

  /* Light Mode */
  background-color: var(--light-background);
  color: var(--light-text);

  /* Dark Mode */
  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-background);
    color: var(--dark-text);
  }

  /* Make the text more prominent in dark mode */
  &.dark-mode {
    background-color: var(--dark-background);
    color: var(--dark-text-dark);  /* Use a darker color for the text */
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

p
{
  padding: 10px;
  border-radius: 5px;
}
